body {
    font-family: 'Lato', sans-serif;
    background-color: lightblue;
}

.container {
    background-color: white;
    border-radius: 15px;
}

.clima img {
    width: 230px;
    display: flex;
    align-items: center;
}

.descripcion,
.temperatura {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bolder;
}

.humedad,
.viento {
    font-size: 1.2rem;
    font-weight: bolder;
}

.pais {
    font-size: 2rem;
    font-weight: bolder;
}

input {
    height: 40px;
    font-size: 1.2rem !important;
    border: 0px !important;
}

input:focus{
    border: 0px !important;
}

.seccionContacto {
    padding: 0px;
    margin: 0px;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.fa-map-marker-alt,
.fa-search{
    font-size: 1.2rem;
}

.fa-github,
.fa-linkedin, {
    transition: all 0.3s;
    font-size: 2rem;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-github:hover {
    color: #171515;
}
